@property --mask-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scaleX(-1);
  transition: --mask-angle 1s linear;
  background-image: conic-gradient(from 0deg,
      #0000 0deg,
      var(--faded-color1) 135deg,
      var(--start-color) 360deg);
  -webkit-mask: conic-gradient(from 0deg,
      transparent var(--mask-angle),
      white var(--mask-angle));
  mask: conic-gradient(from 0deg,
      transparent var(--mask-angle),
      white var(--mask-angle));
}
