/* ============================================
   基础样式
   ============================================ */

.markdown-body {
  color-scheme: var(--md-color-scheme);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  color: var(--md-text);
  --bn-colors-editor-text: var(--md-text);
  background-color: var(--md-bg);
  font-family: "Agave", "Agave Nerd Font", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.75;
  word-wrap: break-word;
  font-weight: normal;

  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }

  > *:first-child {
    margin-top: 0 !important;

    > .heading-element:first-child {
      margin-top: 0 !important;
    }
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  [hidden] {
    display: none !important;
  }

  /* 显示和布局元素 */
  details,
  figcaption,
  figure {
    display: block;
  }

  summary {
    display: list-item;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;

      .anchor {
        margin-left: -40px;
      }
    }

    h1,
    h2 {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  details summary {
    cursor: pointer;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre,
  details {
    margin-top: 0;
  }

  .mr-2 {
    margin-right: 0.5rem !important;
  }
}

