/* ============================================
   定义列表样式
   ============================================ */

.markdown-body {
  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1em;
      font-style: italic;
      font-weight: bold;
    }

    dd {
      padding: 0 1rem;
      margin-bottom: 1rem;
    }
  }

  dd {
    margin-left: 0;
  }
}

