/* ============================================
   图片样式
   ============================================ */

.markdown-body {
  img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;

    &[align=right] {
      padding-left: 20px;
    }

    &[align=left] {
      padding-right: 20px;
    }
  }

  .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
  }

  g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;

    img {
      width: 1em;
      height: 1em;
    }
  }

  /* 图片布局 */
  span {
    &.frame {
      display: block;
      overflow: hidden;

      > span {
        display: block;
        float: left;
        width: auto;
        padding: 7px;
        margin: 13px 0 0;
        overflow: hidden;
        border: 1px solid var(--md-frame-border);

        img {
          display: block;
          float: left;
        }

        span {
          display: block;
          padding: 5px 0 0;
          clear: both;
          color: var(--md-frame-text);
        }
      }
    }

    &.align-center {
      display: block;
      overflow: hidden;
      clear: both;

      > span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: center;

        img {
          margin: 0 auto;
          text-align: center;
        }
      }
    }

    &.align-right {
      display: block;
      overflow: hidden;
      clear: both;

      > span {
        display: block;
        margin: 13px 0 0;
        overflow: hidden;
        text-align: right;

        img {
          margin: 0;
          text-align: right;
        }
      }
    }

    &.float-left {
      display: block;
      float: left;
      margin-right: 13px;
      overflow: hidden;

      span {
        margin: 13px 0 0;
      }
    }

    &.float-right {
      display: block;
      float: right;
      margin-left: 13px;
      overflow: hidden;

      > span {
        display: block;
        margin: 13px auto 0;
        overflow: hidden;
        text-align: right;
      }
    }
  }
}

