/* ============================================
   其他样式
   ============================================ */

.markdown-body {
  .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
    overflow: visible !important;
  }

  body:has(:modal) {
    padding-right: var(--dialog-scrollgutter) !important;
  }
}

