/* ============================================
   语法高亮样式
   ============================================ */

.markdown-body {
  /* Light Theme 语法高亮 */
  .pl-c {
    color: #59636e;
  }

  .pl-c1,
  .pl-s .pl-v {
    color: #0550ae;
  }

  .pl-e,
  .pl-en {
    color: #6639ba;
  }

  .pl-smi,
  .pl-s .pl-s1 {
    color: #1f2328;
  }

  .pl-ent {
    color: #0550ae;
  }

  .pl-k {
    color: #cf222e;
  }

  .pl-s,
  .pl-pds,
  .pl-s .pl-pse .pl-s1,
  .pl-sr,
  .pl-sr .pl-cce,
  .pl-sr .pl-sre,
  .pl-sr .pl-sra {
    color: #0a3069;
  }

  .pl-v,
  .pl-smw {
    color: #953800;
  }

  .pl-bu {
    color: #82071e;
  }

  .pl-ii {
    color: #f6f8fa;
    background-color: #82071e;
  }

  .pl-c2 {
    color: #f6f8fa;
    background-color: #cf222e;
  }

  .pl-sr .pl-cce {
    font-weight: bold;
    color: #116329;
  }

  .pl-ml {
    color: #3b2300;
  }

  .pl-mh,
  .pl-mh .pl-en,
  .pl-ms {
    font-weight: bold;
    color: #0550ae;
  }

  .pl-mi {
    font-style: italic;
    color: #1f2328;
  }

  .pl-mb {
    font-weight: bold;
    color: #1f2328;
  }

  .pl-md {
    color: #82071e;
    background-color: #ffebe9;
  }

  .pl-mi1 {
    color: #116329;
    background-color: #dafbe1;
  }

  .pl-mc {
    color: #953800;
    background-color: #ffd8b5;
  }

  .pl-mi2 {
    color: #d1d9e0;
    background-color: #0550ae;
  }

  .pl-mdr {
    font-weight: bold;
    color: #8250df;
  }

  .pl-ba {
    color: #59636e;
  }

  .pl-sg {
    color: #818b98;
  }

  .pl-corl {
    text-decoration: underline;
    color: #0a3069;
  }

}

/* Dark Theme 语法高亮 */
.dark .markdown-body {
  .pl-c {
    color: #9198a1;
  }

  .pl-c1,
  .pl-s .pl-v {
    color: #79c0ff;
  }

  .pl-e,
  .pl-en {
    color: #d2a8ff;
  }

  .pl-smi,
  .pl-s .pl-s1 {
    color: #f0f6fc;
  }

  .pl-ent {
    color: #7ee787;
  }

  .pl-k {
    color: #ff7b72;
  }

  .pl-s,
  .pl-pds,
  .pl-s .pl-pse .pl-s1,
  .pl-sr,
  .pl-sr .pl-cce,
  .pl-sr .pl-sre,
  .pl-sr .pl-sra {
    color: #a5d6ff;
  }

  .pl-v,
  .pl-smw {
    color: #ffa657;
  }

  .pl-bu {
    color: #f85149;
  }

  .pl-ii {
    color: #f0f6fc;
    background-color: #8e1519;
  }

  .pl-c2 {
    color: #f0f6fc;
    background-color: #b62324;
  }

  .pl-sr .pl-cce {
    font-weight: bold;
    color: #7ee787;
  }

  .pl-ml {
    color: #f2cc60;
  }

  .pl-mh,
  .pl-mh .pl-en,
  .pl-ms {
    font-weight: bold;
    color: #1f6feb;
  }

  .pl-mi {
    font-style: italic;
    color: #f0f6fc;
  }

  .pl-mb {
    font-weight: bold;
    color: #f0f6fc;
  }

  .pl-md {
    color: #ffdcd7;
    background-color: #67060c;
  }

  .pl-mi1 {
    color: #aff5b4;
    background-color: #033a16;
  }

  .pl-mc {
    color: #ffdfb6;
    background-color: #5a1e02;
  }

  .pl-mi2 {
    color: #f0f6fc;
    background-color: #1158c7;
  }

  .pl-mdr {
    font-weight: bold;
    color: #d2a8ff;
  }

  .pl-ba {
    color: #9198a1;
  }

  .pl-sg {
    color: #3d444d;
  }

  .pl-corl {
    text-decoration: underline;
    color: #a5d6ff;
  }
}

