/* ============================================
   文本排版样式
   ============================================ */

.markdown-body {
  /* 文本元素 */
  b,
  strong {
    font-weight: 600;
  }

  dfn {
    font-style: italic;
  }

  mark {
    background-color: var(--md-mark-bg);
    color: var(--md-mark-text);
  }

  small {
    font-size: 12px;
    font-weight: 400;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  .absent {
    color: var(--md-absent);
  }

  /* 标题 */
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 17px;
  }

  h4,
  h5,
  h6 {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 8px;
    font-weight: bold;
    line-height: 1.75;

    tt,
    code {
      padding: 0 0.2em;
    }

    .octicon-link {
      color: var(--md-code-text);
      vertical-align: middle;
      visibility: hidden;
    }

    &:hover {
      .anchor {
        text-decoration: none;

        .octicon-link {
          visibility: visible;

          &::before {
            width: 16px;
            height: 16px;
            content: ' ';
            display: inline-block;
            background-color: currentColor;
            -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
            mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
          }
        }
      }
    }
  }

  h1,
  h2 {
    margin-top: 44px;
  }

  h3 {
    margin-top: 8px;
  }

  h4,
  h5,
  h6 {
    margin-top: 44px;
  }

  .anchor {
    float: left;
    padding-right: 0.25rem;
    margin-left: -20px;
    line-height: 1;

    &:focus {
      outline: none;
    }
  }

  /* 段落 */
  p {
    margin-top: 0;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 1.75;

    + ul,
    + ol {
      margin-top: 6px;
    }
  }
}

