/* ============================================
   Tiptap 列表样式
   基于 Markdown Mobile 排版规范
   ============================================ */

.tiptap.ProseMirror {
  /* 列表通用样式 */
  ul,
  ol {
    padding-left: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    
    /* 嵌套列表 */
    ul,
    ol {
      margin-top: 4px;
      margin-bottom: 0;
      padding-left: 1em;
    }
  }
  
  /* 无序列表 */
  ul:not([data-type="taskList"]) {
    list-style: disc;
    
    ul {
      list-style-type: circle;
    }
    
    ul ul {
      list-style-type: square;
    }
  }
  
  /* 有序列表 */
  ol {
    list-style: decimal;
    counter-reset: list-counter;
    
    > li {
      counter-increment: list-counter;
    }
    
    ol {
      list-style-type: lower-alpha;
    }
    
    ol ol {
      list-style-type: lower-roman;
    }
  }
  
  /* 列表项 */
  li {
    line-height: 1.5;
    margin-bottom: 4px;
    color: var(--tt-text-primary);
    
    /* Marker 颜色 */
    &::marker {
      color: var(--tt-list-marker);
    }
    
    /* 列表项之间间距 */
    + li {
      margin-top: 4px;
    }
    
    /* 列表项内段落 */
    p {
      margin: 0;
    }
    
    > p {
      margin-top: 0;
    }
  }
}
