:root {
  /******************
  Basics
  ******************/
  overflow-wrap: break-word;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &, *, ::before, ::after {
    box-sizing: border-box;
  }
}

/* Legacy Support mapping (Mostly internal editor use) */
:root {
  --tt-bg-color: rgb(var(--background));
  --tt-border-color: rgb(var(--border));
  --tt-brand-color-500: rgb(var(--brand));
  --tt-selection-color: rgba(var(--brand), 0.2);
  
  --text-color-primary: rgb(var(--textPrimary));
  --text-color-secondary: rgba(var(--textPrimary), 0.7);
  --text-color-disabled: rgba(var(--textPrimary), 0.3);
  
  --bg-color-primary: rgb(var(--background));
  --bg-color-secondary: rgb(var(--backgroundSecondary));
  --bg-color-hover: rgba(var(--textPrimary), 0.05);
  --bg-color-active: rgba(var(--textPrimary), 0.1);
}
