@use './_variables.scss';
@use './_keyframe-animations.scss';
@use './_editor.scss';

// Node Styles
@import "../tiptap-node/blockquote-node/blockquote-node.scss";
@import "../tiptap-node/code-block-node/code-block-node.scss";
@import "../tiptap-node/heading-node/heading-node.scss";
@import "../tiptap-node/horizontal-rule-node/horizontal-rule-node.scss";
@import "../tiptap-node/image-node/image-node.scss";
@import "../tiptap-node/image-upload-node/image-upload-node.scss";
@import "../tiptap-node/link-node/link-node.scss";
@import "../tiptap-node/list-node/list-node.scss";
@import "../tiptap-node/paragraph-node/paragraph-node.scss";
