.tiptap.ProseMirror {
  --tt-inline-code-bg-color: rgb(var(--backgroundSecondary));
  --tt-inline-code-text-color: rgb(var(--textPrimary));
  --tt-inline-code-border-color: rgb(var(--border));
  --tt-codeblock-bg: rgb(var(--backgroundSecondary));
  --tt-codeblock-text: rgb(var(--textPrimary));
  --tt-codeblock-border: rgb(var(--border));
}

/* =====================
   CODE FORMATTING
   ===================== */
.tiptap.ProseMirror {
  // Inline code
  code {
    background-color: var(--tt-inline-code-bg-color);
    color: var(--tt-inline-code-text-color);
    border: 1px solid var(--tt-inline-code-border-color);
    font-family: "JetBrains Mono NL", monospace;
    font-size: 0.875em;
    line-height: 1.4;
    border-radius: 6px/0.375rem;
    padding: 0.1em 0.2em;
  }

  // Code blocks
  pre {
    position: relative;
    background-color: var(--tt-codeblock-bg);
    color: var(--tt-codeblock-text);
    border: 1px solid var(--tt-codeblock-border);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    font-size: 1rem;
    border-radius: 6px/0.375rem;

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      -webkit-text-fill-color: inherit;
      color: inherit;
    }

    /* Code block placeholder 样式 */
    &.is-empty[data-placeholder]:has(
        > code > .ProseMirror-trailingBreak:only-child
      )::before {
      content: attr(data-placeholder);
      pointer-events: none;
      height: 0;
      position: absolute;
      width: calc(100% - 2em);
      text-align: inherit;
      left: 1em;
      right: 1em;
      color: var(--placeholder-color, #adb5bd);
      opacity: 0.6;
      font-family: "JetBrains Mono NL", monospace;
    }
  }
}
