@font-face {
  font-family: "iconfont";
  /* Project id 4410591 */
  src: url('iconfont.woff2?t=1705675959953') format('woff2'),
    url('iconfont.woff?t=1705675959953') format('woff'),
    url('iconfont.ttf?t=1705675959953') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e782";
}

.icon-error:before {
  content: "\e600";
}

.icon-warn:before {
  content: "\e601";
}

.icon-info:before {
  content: "\e8ba";
}

.icon-success:before {
  content: "\e616";
}

.icon-star:before {
  content: "\e70b";
}

.icon-dianzan:before {
  content: "\e656";
}