:root,
:root.light,
html,
html.light {
  --background: 255 255 255;
  --backgroundSecondary: 250 250 250;
  --backgroundTertiary: 245 245 245;
  --backgroundQuaternary: 237 237 237;
  --backgroundQuinary: 232 232 232;
  --textPrimary: 0 0 0;
  --textSecondary: 0 0 0;
  --textTertiary: 0 0 0;
  --textQuaternary: 0 0 0;
  --textDisabled: 0 0 0;
  --textSpecial: 255 255 255;
  --border: 238 238 238;
  --borderSecondary: 222 222 222;
  --borderStrong: 166 166 166;
  --scrollbarTrack: transparent;
  --scrollbarThumb: rgba(0, 0, 0, 0.2);
  --scrollbarThumbHover: rgba(0, 0, 0, 0.35);
  --success: 52 199 89;
  --successBg: 236 253 245;
  --info: 65 156 255;
  --infoBg: 239 246 255;
  --danger: 255 86 94;
  --dangerBg: 254 242 242;
  --warning: 250 193 65;
  --warningBg: 254 243 199;
  --brand: 85 96 245;
  --navBg: 255 255 255;
  --buttonPrimary: 0 0 0;
  --buttonSecondary: 245 245 245;
  --buttonTertiary: 255 255 255;
  --systemRed: 255 86 94;
  --systemOrange: 255 151 74;
  --systemYellow: 250 193 65;
  --systemGreen: 52 199 89;
  --systemBlue: 65 156 255;
  --systemPurple: 233 56 246;
  --toningGreenTextColor: #059669;
  --toningGreenBgColor: #ECFDF5;
  --toningGreenBorderColor: #10B981;
  --toningBlueTextColor: #2563EB;
  --toningBlueBgColor: #EFF6FF;
  --toningBlueBorderColor: #3B82F6;
  --toningPurpleTextColor: #9333EA;
  --toningPurpleBgColor: #FAF5FF;
  --toningPurpleBorderColor: #A855F7;
  --toningOrangeTextColor: #EA580C;
  --toningOrangeBgColor: #FFF7ED;
  --toningOrangeBorderColor: #F97316;
  --toningRedTextColor: #DC2626;
  --toningRedBgColor: #FEF2F2;
  --toningRedBorderColor: #EF4444;
  --toningYellowTextColor: #D97706;
  --toningYellowBgColor: #FEF3C7;
  --toningYellowBorderColor: #F59E0B;
  --toningGrayTextColor: #6B7280;
  --toningGrayBgColor: #F3F4F6;
  --toningGrayBorderColor: #9CA3AF;
  --toningSlateTextColor: #374151;
  --toningSlateBgColor: #f3f4f6;
  --toningSlateBorderColor: #64748B;
  --skeletonBase: 245 246 248;
  --skeletonHighlight: 233 236 239;
  --svgFillPrimary: 255 255 255;
  --svgFillSecondary: 0 0 0;
  --svgStrokePrimary: 255 255 255;
  --svgStrokeSecondary: 0 0 0;
}

:root.dark,
html.dark {
  --background: 0 0 0;
  --backgroundSecondary: 20 20 20;
  --backgroundTertiary: 30 30 30;
  --backgroundQuaternary: 40 40 40;
  --backgroundQuinary: 50 50 50;
  --textPrimary: 249 250 251;
  --textSecondary: 156 163 175;
  --textTertiary: 156 163 175;
  --textQuaternary: 107 114 128;
  --textDisabled: 107 114 128;
  --textSpecial: 0 0 0;
  --border: 33 33 33;
  --borderSecondary: 63 63 63;
  --borderStrong: 77 77 77;
  --scrollbarTrack: transparent;
  --scrollbarThumb: rgba(255, 255, 255, 0.2);
  --scrollbarThumbHover: rgba(255, 255, 255, 0.35);
  --success: 48 209 88;
  --successBg: 6 78 59;
  --info: 65 156 255;
  --infoBg: 30 58 138;
  --danger: 255 86 94;
  --dangerBg: 127 29 29;
  --warning: 255 197 66;
  --warningBg: 120 53 15;
  --brand: 85 96 245;
  --navBg: 0 0 0;
  --buttonPrimary: 255 255 255;
  --buttonSecondary: 40 40 40;
  --buttonTertiary: 20 20 20;
  --systemRed: 255 86 94;
  --systemOrange: 255 151 74;
  --systemYellow: 255 197 66;
  --systemGreen: 48 209 88;
  --systemBlue: 65 156 255;
  --systemPurple: 233 56 246;
  --toningGreenTextColor: #34D399;
  --toningGreenBgColor: #064E3B;
  --toningGreenBorderColor: #065F46;
  --toningBlueTextColor: #60A5FA;
  --toningBlueBgColor: #1E3A8A;
  --toningBlueBorderColor: #2563EB;
  --toningPurpleTextColor: #A78BFA;
  --toningPurpleBgColor: #4C1D95;
  --toningPurpleBorderColor: #7E22CE;
  --toningOrangeTextColor: #FB923C;
  --toningOrangeBgColor: #7C2D12;
  --toningOrangeBorderColor: #C2410C;
  --toningRedTextColor: #F87171;
  --toningRedBgColor: #7F1D1D;
  --toningRedBorderColor: #B91C1C;
  --toningYellowTextColor: #FBBF24;
  --toningYellowBgColor: #78350F;
  --toningYellowBorderColor: #B45309;
  --toningGrayTextColor: #9CA3AF;
  --toningGrayBgColor: #1F2937;
  --toningGrayBorderColor: #4B5563;
  --toningSlateTextColor: #E5E7EB;
  --toningSlateBgColor: #0F172A;
  --toningSlateBorderColor: #334155;
  --skeletonBase: 28 28 30;
  --skeletonHighlight: 50 50 60;
  --svgFillPrimary: 0 0 0;
  --svgFillSecondary: 249 250 251;
  --svgStrokePrimary: 0 0 0;
  --svgStrokeSecondary: 249 250 251;
}