:root {
  --defaultTextColor: #0a0a0a;
  --defaultBgColor: #fff;
  --primaryTextColor: #fff;
  --primaryBgColor: #171717;
  --outlineHoverBg: #f3f4f6;
  --background: #ffffff;
  --backgroundSubtle: #f9fafb;
  --textPrimary: #111827;
  --textSecondary: #6b7280;
  --textDisabled: #9ca3af;
  --border: #ebebeb;
  --borderStrong: #d1d5db;
  --shadow: rgba(0, 0, 0, 0.05);
  --shadowStrong: rgba(0, 0, 0, 0.1);
  --scrollbarTrack: transparent;
  --scrollbarThumb: rgba(0, 0, 0, 0.2);
  --scrollbarThumbHover: rgba(0, 0, 0, 0.35);
  --success: #10B981;
  --successBg: #ECFDF5;
  --info: #3B82F6;
  --infoBg: #EFF6FF;
  --danger: #EF4444;
  --dangerBg: #FEF2F2;
  --warning: #F59E0B;
  --warningBg: #FEF3C7;
  --greenTextColor: #059669;
  --greenBgColor: #ECFDF5;
  --greenBorderColor: #10B981;
  --blueTextColor: #2563EB;
  --blueBgColor: #EFF6FF;
  --blueBorderColor: #3B82F6;
  --purpleTextColor: #9333EA;
  --purpleBgColor: #FAF5FF;
  --purpleBorderColor: #A855F7;
  --orangeTextColor: #EA580C;
  --orangeBgColor: #FFF7ED;
  --orangeBorderColor: #F97316;
  --redTextColor: #DC2626;
  --redBgColor: #FEF2F2;
  --redBorderColor: #EF4444;
  --yellowTextColor: #D97706;
  --yellowBgColor: #FEF3C7;
  --yellowBorderColor: #F59E0B;
  --grayTextColor: #6B7280;
  --grayBgColor: #F3F4F6;
  --grayBorderColor: #9CA3AF;
  --slateTextColor: #374151;
  --slateBgColor: #f3f4f6;
  --slateBorderColor: #64748B;
}

.dark {
  --defaultTextColor: #fff;
  --defaultBgColor: #171717;
  --primaryTextColor: #0a0a0a;
  --primaryBgColor: #fff;
  --outlineHoverBg: #374151;
  --background: #000000;
  --backgroundSubtle: #0A0A0A;
  --textPrimary: #f9fafb;
  --textSecondary: #9ca3af;
  --textDisabled: #6b7280;
  --border: #292932;
  --borderStrong: #4b5563;
  --shadow: rgba(0, 0, 0, 0.4);
  --shadowStrong: rgba(0, 0, 0, 0.6);
  --scrollbarTrack: transparent;
  --scrollbarThumb: rgba(255, 255, 255, 0.2);
  --scrollbarThumbHover: rgba(255, 255, 255, 0.35);
  --success: #10B981;
  --successBg: #064E3B;
  --info: #3B82F6;
  --infoBg: #1E3A8A;
  --danger: #EF4444;
  --dangerBg: #7F1D1D;
  --warning: #FBBF24;
  --warningBg: #78350F;
  --greenTextColor: #34D399;
  --greenBgColor: #064E3B;
  --greenBorderColor: #065F46;
  --blueTextColor: #60A5FA;
  --blueBgColor: #1E3A8A;
  --blueBorderColor: #2563EB;
  --purpleTextColor: #A78BFA;
  --purpleBgColor: #4C1D95;
  --purpleBorderColor: #7E22CE;
  --orangeTextColor: #FB923C;
  --orangeBgColor: #7C2D12;
  --orangeBorderColor: #C2410C;
  --redTextColor: #F87171;
  --redBgColor: #7F1D1D;
  --redBorderColor: #B91C1C;
  --yellowTextColor: #FBBF24;
  --yellowBgColor: #78350F;
  --yellowBorderColor: #B45309;
  --grayTextColor: #9CA3AF;
  --grayBgColor: #1F2937;
  --grayBorderColor: #4B5563;
  --slateTextColor: #E5E7EB;
  --slateBgColor: #0F172A;
  --slateBorderColor: #334155;
}