.full {
  width: 100%;
  height: 100%;
}

.clear-fix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

[data-tooltip]:hover {
  position: relative;
  transition: 1s;
  cursor: pointer;

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    z-index: 99;
    /* Fallback 值 */
    background-color: #fff;
    background-color: rgb(var(--backgroundSecondary) / 0.7);
    padding: 4px 8px;
    width: fit-content;
    border-radius: 10px;
    /* Fallback 值 */
    color: #000;
    color: rgb(var(--textPrimary) / 1);
    animation: appear .4s;
    transform-origin: 0;
    /* Fallback 值 */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 15px -3px rgb(var(--shadow) / 0.1), 0 4px 6px -2px rgb(var(--shadow) / 0.05);
  }
}

@keyframes appear {
  from {
    transform: translateY(50%) scaleX(0);
    opacity: 0;
  }
}


/* 三个点 */
.loadingText {
  position: relative;
  display: inline-block;
  padding-right: .3em;
}

.loadingText::after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: 0;
  animation: ellipsis 1.5s infinite steps(4, end);
}

@keyframes ellipsis {
  0% {
    content: '';
  }

  33% {
    content: '.';
  }

  66% {
    content: '..';
  }

  100% {
    content: '...';
  }
}