:root.dark .markdown-body {
  --color-fg-default: #f0f6fc;
  --color-link: #4493f8;
  --color-link-hover: #79c0ff;
  --color-border-default: #3d444d;
  --color-border-muted: #3d444db3;
  --color-bg-soft: #151b23;
  --color-bg-soft-hover: #151b23;
  --color-bg-canvas-default: transparent;
  --color-bg-canvas-subtle: #151b23;
  --color-mark-bg: #bb800926;
  --color-mark-fg: #f0f6fc;
  --color-danger-fg: #f85149;
  --color-text-secondary: #9198a1;
  --color-text-tertiary: #3d444d;
  --color-focus-ring: #1f6feb;
  --color-code-bg: #656c7633;
  --color-code-fg: #f0f6fc;
  --color-kbd-bg: #151b23;
  --color-kbd-border: #3d444db3;
  --color-kbd-text: #f0f6fc;
  --color-pre-bg: #151b23;
  --color-pre-fg: #f0f6fc;
  --color-table-border: #3d444d;
  --color-table-bg: #0d1117;
  --color-table-row-even: #151b23;
  --color-table-row-hover: #151b23;
  --color-frame-border: #3d444d;
  --color-frame-text: #f0f6fc;
  --color-footer-border: #3d444d;
  --color-muted-accent: #3d444d;
  --color-info-fg: #4493f8;
  --color-info-border: #1f6feb;
  --color-warning-fg: #d29922;
  --color-warning-border: #9e6a03;
  --color-warning-bg: #5a1e02;
  --color-success-fg: #3fb950;
  --color-success-border: #238636;
  --color-success-bg: #033a16;
  --color-error-fg: #f85149;
  --color-error-border: #da3633;
  --color-error-bg: #67060c;
  --color-purple-fg: #ab7df8;
  --color-purple-border: #8957e5;
  --color-syntax-keyword: #ff7b72;
  --color-syntax-function: #79c0ff;
  --color-syntax-variable: #79c0ff;
  --color-syntax-operator: #ffa657;
  --color-syntax-string: #a5d6ff;
  --color-syntax-comment: #9198a1;
  --color-syntax-constant: #79c0ff;
  --color-syntax-type: #d2a8ff;
  --color-syntax-attribute: #79c0ff;
  --color-syntax-literal: #79c0ff;
  --color-syntax-punctuation: #9198a1;
  --color-syntax-tag: #7ee787;
  --color-syntax-selector: #d2a8ff;
  --color-syntax-property: #79c0ff;
  --color-syntax-tag-attr: #7ee787;
  --color-syntax-number: #ffa657;
  --color-syntax-builtin: #79c0ff;
  --color-syntax-class: #d2a8ff;
  --color-syntax-function-param: #f0f6fc;
  --color-syntax-attr-id: #79c0ff;
  --color-syntax-attr-class: #d2a8ff;
  --color-syntax-attr-attr: #79c0ff;
  --color-syntax-attr-value: #a5d6ff;
  --color-syntax-attr-value-quoted: #a5d6ff;
  --color-syntax-meta: #9198a1;
  --color-syntax-deletion: #8e1519;
  --color-syntax-addition: #033a16;
  --color-syntax-em: #f0f6fc;
  --color-syntax-strong: #f0f6fc;
  --color-syntax-link: #a5d6ff;
  --color-syntax-italic: #f0f6fc;
  --color-syntax-bold: #f0f6fc;
}