:root .markdown-body {
  --color-fg-default: #1f2328;
  --color-link: #0969da;
  --color-link-hover: #0550ae;
  --color-border-default: #d1d9e0;
  --color-border-muted: #d1d9e0b3;
  --color-bg-soft: #f6f8fa;
  --color-bg-soft-hover: #f6f8fa;
  --color-bg-canvas-default: transparent;
  --color-bg-canvas-subtle: #f6f8fa;
  --color-mark-bg: #fff8c5;
  --color-mark-fg: #1f2328;
  --color-danger-fg: #d1242f;
  --color-text-secondary: #59636e;
  --color-text-tertiary: #818b98;
  --color-focus-ring: #0969da;
  --color-code-bg: #818b981f;
  --color-code-fg: #1f2328;
  --color-kbd-bg: #f6f8fa;
  --color-kbd-border: #d1d9e0b3;
  --color-kbd-text: #1f2328;
  --color-pre-bg: #f6f8fa;
  --color-pre-fg: #1f2328;
  --color-table-border: #d1d9e0;
  --color-table-bg: #ffffff;
  --color-table-row-even: #f6f8fa;
  --color-table-row-hover: #f6f8fa;
  --color-frame-border: #d1d9e0;
  --color-frame-text: #1f2328;
  --color-footer-border: #d1d9e0;
  --color-muted-accent: #d1d9e0;
  --color-info-fg: #0969da;
  --color-info-border: #0969da;
  --color-warning-fg: #9a6700;
  --color-warning-border: #9a6700;
  --color-warning-bg: #ffd8b5;
  --color-success-fg: #1a7f37;
  --color-success-border: #1a7f37;
  --color-success-bg: #dafbe1;
  --color-error-fg: #d1242f;
  --color-error-border: #cf222e;
  --color-error-bg: #ffebe9;
  --color-purple-fg: #8250df;
  --color-purple-border: #8250df;
  --color-syntax-keyword: #cf222e;
  --color-syntax-function: #0550ae;
  --color-syntax-variable: #0550ae;
  --color-syntax-operator: #953800;
  --color-syntax-string: #0a3069;
  --color-syntax-comment: #59636e;
  --color-syntax-constant: #0550ae;
  --color-syntax-type: #6639ba;
  --color-syntax-attribute: #0550ae;
  --color-syntax-literal: #0550ae;
  --color-syntax-punctuation: #59636e;
  --color-syntax-tag: #116329;
  --color-syntax-selector: #8250df;
  --color-syntax-property: #0550ae;
  --color-syntax-tag-attr: #116329;
  --color-syntax-number: #953800;
  --color-syntax-builtin: #0550ae;
  --color-syntax-class: #6639ba;
  --color-syntax-function-param: #1f2328;
  --color-syntax-attr-id: #0550ae;
  --color-syntax-attr-class: #6639ba;
  --color-syntax-attr-attr: #0550ae;
  --color-syntax-attr-value: #0a3069;
  --color-syntax-attr-value-quoted: #0a3069;
  --color-syntax-meta: #59636e;
  --color-syntax-deletion: #82071e;
  --color-syntax-addition: #116329;
  --color-syntax-em: #1f2328;
  --color-syntax-strong: #1f2328;
  --color-syntax-link: #0a3069;
  --color-syntax-italic: #1f2328;
  --color-syntax-bold: #1f2328;
}