/* Webkit 浏览器滚动条样式（Chrome、Edge、Safari） */
::-webkit-scrollbar {
  /* 滚动条大小 */
  width: 4px;
  height: 4px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  /* 轨道背景色 */
  background-color: var(--scrollbarTrack);
  border-radius: 6px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  /* 滑块背景色 */
  background-color: var(--scrollbarThumb);
  transition: background-color 0.3s;
  cursor: pointer;
  /* 滑块圆角 */
  border-radius: 6px;
  /* 滑块边框 */
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* 滚动条滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
  /* 滑块悬停背景色 */
  background-color: var(--scrollbarThumbHover);
}

/* 滚动条按钮 */
::-webkit-scrollbar-button {
  /* 按钮大小 */
  display: none;
  /* 隐藏滚动条按钮 */
}

* {
  scrollbar-width: thin;
  /* Firefox 滚动条颜色：thumb track */
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarTrack);
}

