/* 全局滚动条样式 */
::-webkit-scrollbar,
/* Firefox浏览器滚动条样式 */
scrollbar,
/* IE浏览器滚动条样式 */
-ms-viewport {
  /* 滚动条大小 */
  width: 10px;
  height: 10px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track,
scrollbar-track {
  /* 轨道背景色 */
  background-color: var(--scrollbarTrack);
  border-radius: 6px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb,
/* Firefox浏览器滚动条滑块 */
scrollbar-thumb {
  /* 滑块背景色 */
  background-color: var(--scrollbarThumb);
  transition: background-color .3s;
  cursor: pointer;
  /* 滑块圆角 */
  border-radius: 6px;
  /* 滑块边框 */
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* 滚动条滑块悬停效果 */
::-webkit-scrollbar-thumb:hover,
/* Firefox浏览器滚动条滑块悬停效果 */
scrollbar-thumb:hover {
  /* 滑块悬停背景色 */
  background-color: var(--scrollbarThumbHover);
}

/* 滚动条按钮 */
::-webkit-scrollbar-button {
  /* 按钮大小 */
  display: none;
  /* 隐藏滚动条按钮 */
}